<% if user_signed_in? %>

  <h1>Friends List</h1>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <!-- <th>User ID</th> -->
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td>
            <%= link_to friend.first_name.capitalize() + " " + friend.last_name.capitalize(), friend , class:" text-decoration-none text-black" %>
          </td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <!-- <td><%= friend.user_id %></td> -->
          <!-- <td><%= link_to 'Edit', edit_friend_path(friend) %></td> -->
          <td><%= link_to 'Remove', friend, method: :delete, data: { confirm: 'Are you sure?'}, class:"text-decoration-none text-danger" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>

  <div class="d-grid gap-2 col-6 mx-auto">
    <h1 class="text-center"> Welcome! </h1><br><br>

    <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-secondary" %><br>
    <%= link_to 'Sign In', new_user_session_path, class:"btn btn-outline-secondary" %>
  </div>

<% end %>